# Question 1

In [2]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [3]:
b()
b()
b()
a

6

b() is defined as a function that generates value of 'a' using function c(a) which adds 2 to value of 'a' every time function b() is run. 

It starts with a = 0, running first b() gives value of a = 2, running it second time generates a = 4 and after running it 3 times we see the value of a = 6

# Question 2

In [6]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File " + file_name + " not found. ")

In [7]:
fileLength('midterm.py')

File midterm.py not found.

# Question 3

In [8]:
class Marsupial:
    def __init__(self, initial = []):
        self.lst = initial

    def put_in_pouch(self, item):
        self.lst.append(item)

    def pouch_contents(self):
        return self.lst

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    def __init__(self, x, y, initial = []):
        self.lst = initial
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)

In [11]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [12]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [14]:
def collatz(x):

    
    if x == 1:
        print(x)
        return x

 
    if x % 2 == 0:   
        print(x)
        collatz(x // 2)

    else:
        print(x)     
        collatz(3 * x + 1)

In [15]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [16]:
def binary(n):
    
    if n == 0:
        print(0, end= '')
        
    elif n == 1:
        print(1, end= '')
        
    else:
        binary(n // 2)
        print(n % 2, end= '')

In [17]:
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

# Question 6 & 7

In [ ]:
#Was not comfortable enough working on these problems based on the content in Wk6 jupyter notebook
#Had an appointment with a peer tutor to get a better understannding of these sections but 
#she had to cancel appointment last minute

# Question 8

In [21]:
import sqlite3
con = sqlite3.connect('weatherdata.db')
cur = con.cursor()

cur.execute("CREATE TABLE weather (City text, Country text, Season text, Temperature float, Rainfall float)")

data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

 

cur.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

con.commit()

In [22]:
#a
cur.execute('SELECT Temperature FROM weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [23]:
#b
cur.execute('SELECT DISTINCT City FROM weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [24]:
#c
cur.execute("SELECT * FROM weather WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [25]:
#d
cur.execute("SELECT * FROM weather WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [27]:
#e
cur.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [28]:
#f
cur.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [29]:
#g
cur.execute("SELECT SUM(Rainfall) FROM weather WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [30]:
#h
cur.execute("SELECT Season, SUM(Rainfall) " "FROM weather GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [31]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

a = [word.upper() for word in words]
print(a)

b = [word.lower() for word in words]
print(b)

c = [len(word) for word in words]
print(c)

d = [[word.upper(), word.lower(), len(word)] for word in words]
print(d)

e = [word for word in words if len(word) >= 4]
print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']